/* @import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --aguaMarina: #64D2D2;
    --fondo: #f7f7f7;
    --hueso: #cacaca;
}

/*********** reset ***********/
* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
    /* color: var(--hueso); */
    text-decoration: none;
}

a:visited {
    color:rgb(255, 255, 255);
}

ul {
    list-style: none;
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}
/*************************/

/*********** BOTONES *************/

/* .sign-up {
    background: red;
    padding: 1.5em 2em;
    display: block;
    cursor: pointer;
    border-radius: .3em;
} */


body {
    font-family: 'poppins', sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
}


/************** INDEX *******************/


header {
    background-color: rgb(13, 42, 59);
}

.header-grid {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    

}


header a {
    color: #fff;
}

header ul {
    display: flex;
}

header li {
    margin-left: 2em;
}



section {
    margin-top: 1em;
}

.promociones {
    width: 100%;
    height: 35em;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 10em;
    gap: 1em;
    grid-template-areas:
        'top top'
        'left right'
}

.top {
    grid-area: top;
    background-image: url(https://www.falabella.com.co/static/RDF/site/Huinchas_catalyst/Electro/2022/Mayo/img/H_Xiaomi12_Desk.png?v=12345);
    background-size: cover;
    height: 10em;
    
}



.left {
    background-image: url(https://tienda.claro.com.co/wcsstore/Claro/images/contenidos/Imagenes/Destacados/iphone_12_1junio_D.jpg);
    background-size: cover;
}

.right {
    background-image: url(https://tienda.claro.com.co/wcsstore/Claro/images/contenidos/Imagenes/Destacados/xiaomi_note10pro_2junio_D.jpg);
    background-size: 150%;
    background-position: -8em -2.5em;

}

.promociones .promo-tarjeta {
    background-color: pink;
}

.marcas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    border: 1px; ;
    background-color: rgb(225, 229, 232);
}

.marcas li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca-tarjeta {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: rgb(16, 15, 15);
    overflow: hidden;
}



/***************** LOGIN ****************************/

.bg-login {
    background-image: url(../../img/login-fondo.jpg);
    background-size: cover;
    background-position: 0 0em;
}

.login-logo{
    /* border: 1px solid rgb(29, 18, 18); */
    /* background-color: #40C7F1; */
    padding: 15.5em;
    background-image: url(https://static.mbilling.dk/images/webshop/product_images/Apple_iPhone12_Lilla_1618997673.png);
    background-size: cover;
    background-size: 70%;
   
}

.wrapper {
    max-width: 1200px;
    /* background-color: red; */
    margin-inline: auto;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    height: 85vh;
    margin-top: 3em;
}

.form-section img {
    /* display: block; */
    width: 25em;
}

.form-container {
    /* margin: 10em auto 0; */
    text-align: center;
    width: fit-content;
    border: 1px solid rgb(29, 18, 18);
    border-radius: 3em;
    padding: 1.5em;
    background-color: #fff;
}

.input-field {
    position: relative;
}

.input-label {
    position: absolute;
    top: 1.2em;
    left: 1em;
    color: rgba(0, 0, 0, .2);
    cursor: text;

    transition: all 200ms ease-in-out;
}

.input-input:hover {
    outline-color: #badcdc;
}
.input-input:focus {
    outline-color: #8fbdbd;
}

.input-input:focus ~ .input-label,
.input-input:not(:placeholder-shown).input-input:not(:focus) ~ .input-label {
    color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 1.2em;
    font-weight: bold;
    font-size: .8rem;
}

.form-container input {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 1em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: none;
    outline: 2px solid #d8ecec;
    background: #D8ECEC;
}

.form-container a:hover {
    font-weight: bold;
    color: #000;
}

.documento {
    margin-bottom: 1em;
}

h2 {
    margin: 1em 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

.login-btn {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1em 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    border: none;
    background: #40C7F1;

    transition: all .1s ease;
}
.login-btn:hover {
    cursor: pointer;
    background-color: tomato;
    color: #fff;
}

.login-options {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}




/***************** TIENDA ****************************/

.tienda-grid {
    /* background-color: lightgray; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% auto;
    margin-top: 5em;
}

.tienda-grid img {
    display: block;
    width: 100%;
}

.cel-tarjeta {
    display: grid;
    grid-template-columns: 1fr;
    background-color: pink;
    width: 15em;
    height: 20em;
    outline: 1px solid red;
    border-radius: .8em;
    overflow: hidden;
}

/*  FOOTER  */

footer {
    background-color: #f1f1f1;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media li {
    margin-inline: 1em;
}


.media i {
    /* padding: 0 1em; */
    font-size: 1.6rem;
    background: #000;
    padding: .5em;
    border-radius: 50%;
}

.media i:hover {
    background-color: rgb(85, 85, 85);
    color: #40C7F1;
}